<footer class = "container-fluid bg-light">
            <div class = "row" >
                <section class = "col">
                    SECTION 1
                </section>
                <section class = "col">
                    SECTION 2
                </section>
                <section class = "col">
                    SECTION 3
                </section>
                <section class = "col">
                    SECTION 4
                </section>

                <section class = "col">
                    SECTION 5
                </section>
            </div>
 </footer>