{% extends 'base.html.twig' %}


{%  block title %}Page non trouvée {%  endblock %}

{% block body %}

    <main class ="container">
        <section class="row">
                <div class =" col-12">
                     <h1> Page non trouvée</h1> 
                     <p> La page que vous rechercher  n'a pas été trouvé </p>  
                </div>
        </section>
    </main>

{% endblock %}
